samples/**/*.wav
speaker_latents/*.speaker_latent
speaker_latents/*.blips
speaker_latents/*.wav
cache/*
voice_mapping.json
huggingfacecache
__pycache__/
.env
venv/
input/*
!input/.gitkeep
blips_base/
test_lines/*
!test_lines/.gitkeep
effects/*
!effects/.gitkeep
voice_mapping.json
!effects/captain_intro.wav
!effects/captain_outro.wav
